{
  "parameters": [
    {
      "scope": "local",
      "name": "name",
      "type": "string",
      "value": {"string": {"value": "{{ rest_plugin.name }}"}}
    },
    {
      "scope": "local",
      "name": "url",
      "type": "string",
      "value": {"string": {"value": "{{ rest_plugin.url }}"}}
    },
    {% if rest_plugin.auth_type is defined %}
        {% if rest_plugin.auth_type|lower == 'basic' %}
            {% include 'rest_basic_auth.json' %}
        {% elif rest_plugin.auth_type|lower == 'oauth2' %}
            {% include 'rest_oauth2_auth.json' %}
        {% else %}
            {% include 'rest_no_auth.json' %}
        {% endif %}
    {% else %}
        {% include 'rest_no_auth.json' %}
    {% endif %}
    {% if rest_plugin.proxy_host is defined %}
        {% include 'rest_proxy_host.json' %}
        {% if rest_plugin.proxy_username is defined %}
            {% include 'rest_proxy_auth.json' %}
        {% endif %}
    {% endif %}
    {
      "scope": "local",
      "name": "hostVerification",
      "type": "boolean",
      "value": {"boolean": {"value": "{{ rest_plugin.host_verification | default(vro_rest_host_verification) }}" }}
    },
    {
      "scope": "local",
      "name": "ignoreWarnings",
      "type": "boolean",
      "value": {"boolean": {"value": "{{ rest_plugin.ignore_warnings | default(vro_rest_host_ignore_warnings) }}" }}
    },
    {
      "scope": "local",
      "name": "connectionTimeout",
      "type": "number",
      "value": {"number": {"value": "{{ rest_plugin.connection_timeout | default(vro_rest_host_connection_timeout) }}" }}
    },
    {
      "scope": "local",
      "name": "operationTimeout",
      "type": "number",
      "value": {"number": {"value": "{{ rest_plugin.operation_timeout | default(vro_rest_host_operation_timeout) }}" }}
    }
  ]
}
