--BlockBoundary
Content-Disposition: form-data; name="file"; filename="configurationElement"
Content-Type: application/zip

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<config-element id="{{ config_element.id }}"  version="1.0.0" >
  <display-name><![CDATA[{{ config_element.name }}]]></display-name>
  <atts>
{%- for attribute in config_element.attributes -%}
    <att name="{{ attribute.name }}" type="{{ attribute.type }}" read-only="false">
    <value encoded="n"><![CDATA[{{ attribute.value }}]]></value>
    <description><![CDATA[{{ attribute.description }}]]></description>
    </att>
{%- endfor -%}
  </atts>
</config-element>
--BlockBoundary
Content-Disposition: form-data; name="categoryId"

{{ category_id }}
--BlockBoundary--
